<style>
  p {
    font-size: 2em;
  }
</style>




<div id="<%= dom_id project %>">
  <p style="font-family: 'Arial', monospace;">
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <br> 

  <p style="font-family: 'Arial', monospace">
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
